@page "/export_printslip"
@layout PLayout

<h3><span class="oi oi-person" aria-hidden="true"></span> Export / Print Slip </h3>
<hr />
<form>
    <div class="form-row">
        <div class="form-group col-md-10">
            <input id="" class="form-control" type="date" />

        </div>

        <div class="form-group col-md-2">
            <button class="btn btn-primary">Export</button>
            <button class="btn btn-primary">Print</button>
        </div>
    </div>
</form>