@page "/managestores"
@layout StoreLayout
<h3><span class="oi oi-map-marker" aria-hidden="true"></span> Stores Manager | Stores Information</h3>
<hr />
<RadzenFieldset AllowCollapse="true">
    <HeaderTemplate>
        <label>Task</label>
    </HeaderTemplate>
    <ChildContent>
        <RadzenCard>
            <RadzenTabs>
                <Tabs>

                    <RadzenTabsItem Text="Add Item">
                        <form>
                            <div class="form-row">

                                <div class="form-group col-md-10">
                                    <input id="" class="form-control" placeholder="Enter Item Name" />

                                </div>

                                <div class="form-group col-md-2">
                                    <button class="btn btn-primary">Search</button>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label>Item Name </label> <input id="" class="form-control" />
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Quantity </label> <input id="" class="form-control" />
                                </div>
                            </div>
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label>Cost Price</label> <input id="" class="form-control" />
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Supplier Name </label> <input id="" class="form-control" />
                                </div>

                            </div>
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label>Invoice Number </label> <input id="" class="form-control" />
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Received by </label> <input  id="" class="form-control" />
                                </div>

                            </div>
                            <div class="form-row">

                            <div class="form-group col-md-6">
                                <label>Description</label> <input id="" class="form-control" />
                            </div>

                            <div class="form-group col-md-6">
                                <label>Date </label> <input type="date" id="" class="form-control" />
                            </div>
                             </div>
                   
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <button class="btn btn-primary">Add Item</button>
                                    <button class="btn btn-primary">Update Item</button>
                                </div>



                            </div>





                        </form>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Issue Item">
                        <form>
                            <div class="form-row">

                                <div class="form-group col-md-10">
                                    <input id="" class="form-control" placeholder="Enter Item Name" />

                                </div>

                                <div class="form-group col-md-2">
                                    <button class="btn btn-primary">Search</button>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label>Item Name </label> <input id="" class="form-control" />
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Quantity </label> <input id="" class="form-control" />
                                </div>
                            </div>
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label>Cost Price</label> <input id="" class="form-control" />
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Supplier Name </label> <input id="" class="form-control" />
                                </div>

                            </div>
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label>Invoice Number </label> <input id="" class="form-control" />
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Issued by </label> <input id="" class="form-control" />
                                </div>

                            </div>
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label>Description</label> <input id="" class="form-control" />
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Issue Date </label> <input type="date" id="" class="form-control" />
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <button class="btn btn-primary">Issue Item</button>
                               
                                </div>



                            </div>





                        </form>






                    </RadzenTabsItem>

                </Tabs>
            </RadzenTabs>
        </RadzenCard>
    </ChildContent>
</RadzenFieldset>
