@page "/vehicle_maintenance"
@layout TransportLayout


<h3> <span class="oi oi-power-standby" aria-hidden="true"></span> Vehicle Maintenance | Maintenence Information</h3>
<hr />
<RadzenFieldset AllowCollapse="true">
    <HeaderTemplate>
        <label>Vehicle Details</label>
    </HeaderTemplate>
    <ChildContent>
        <form>
            <div class="form-row">

                <div class="form-group col-md-10">
                    <input id="" class="form-control" placeholder="Enter Number Plate" />

                </div>

                <div class="form-group col-md-2">
                    <button class="btn btn-primary">Search</button>
                </div>
            </div>

            <div class="form-row">

                <div class="form-group col-md-6">
                    <label>Vehicle Name </label> <input id="" class="form-control" />
                </div>

                <div class="form-group col-md-6">
                    <label>Department </label> <input id="" class="form-control" />
                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <label>Vehicle License Number</label> <input id="" class="form-control" />
                </div>

                <div class="form-group col-md-6">
                    <label>Make / Model </label> <input id="" class="form-control" />
                </div>

            </div>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <label>Current Mileage </label> <input id="" class="form-control" />
                </div>

                <div class="form-group col-md-6">
                    <label>Date </label> <input type="date" id="" class="form-control" />
                </div>

            </div>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <label>Dealer/Shop </label> <input id="" class="form-control" />
                </div>

                <div class="form-group col-md-6">
                    <label>Service Performed </label> <input type="text" id="" class="form-control" />
                </div>

            </div>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <label>Invoice / Work Order Number </label> <input id="" class="form-control" />
                </div>

                <div class="form-group col-md-6">
                    <label>Charges</label> <input type="text" id="" class="form-control" />
                </div>

            </div>

            <div class="form-row">

                <div class="form-group col-md-6">
                    <button class="btn btn-primary">Submit</button>
                
                </div>



            </div>





        </form>
    </ChildContent>
</RadzenFieldset>