@page "/parts_inventory"
@layout TransportLayout
<h3> <span class="oi oi-compass " aria-hidden="true"></span> Parts Inventory | Inventory Information</h3>
<hr />

<RadzenFieldset AllowCollapse="true">
    <HeaderTemplate>
        <label>Task</label>
    </HeaderTemplate>
    <ChildContent>
        <RadzenCard>
            <RadzenTabs>
                <Tabs>

                    <RadzenTabsItem Text="Add Parts">
                        <form>
                            <div class="form-row">

                                <div class="form-group col-md-10">
                                    <input id="" class="form-control" placeholder="Enter Parts No." />

                                </div>

                                <div class="form-group col-md-2">
                                    <button class="btn btn-primary">Search</button>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label>Parts Number </label> <input id="" class="form-control" />
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Quantity </label> <input id="" class="form-control" />
                                </div>
                            </div>
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label>Unit Price</label> <input id="" class="form-control" />
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Supplier Name </label> <input id="" class="form-control" />
                                </div>

                            </div>
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label>Invoice Number </label> <input id="" class="form-control" />
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Date </label> <input type="date" id="" class="form-control" />
                                </div>

                            </div>
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <button class="btn btn-primary">Add Parts</button>
                                    <button class="btn btn-primary">Update Parts</button>
                                </div>



                            </div>





                        </form>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Issue Parts">
                        <form>
                            <div class="form-row">

                                <div class="form-group col-md-10">
                                    <input id="" class="form-control" placeholder="Enter Parts No." />

                                </div>

                                <div class="form-group col-md-2">
                                    <button class="btn btn-primary">Search</button>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label>Parts Number </label> <input id="" class="form-control" />
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Quantity </label> <input id="" class="form-control" />
                                </div>
                            </div>
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label>Unit Price</label> <input id="" class="form-control" />
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Supplier Name </label> <input id="" class="form-control" />
                                </div>

                            </div>
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label>Invoice Number </label> <input id="" class="form-control" />
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Date </label> <input type="date" id="" class="form-control" />
                                </div>

                            </div>
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <button class="btn btn-primary">Issue Parts</button>
                                    <button class="btn btn-primary">Clear</button>
                                </div>



                            </div>





                        </form>
                    </RadzenTabsItem>

                </Tabs>
            </RadzenTabs>
        </RadzenCard>
    </ChildContent>
</RadzenFieldset>
